/* css styles for homepage */

.material-symbols-outlined {
  /* font-size: 108px; */
  /* font-size: 200px; */
  color: var(--gray); 
  font-variation-settings:
  'FILL' 0,
  'wght' 200,
  'GRAD' 0,
  'opsz' 48
}

.material-symbols-outlined:hover {
  color: var(--lime);
}

/* mobile view */
@media (max-width: 639px){
  body {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
}

/* tablet + desktop view */
@media (min-width: 640px) {
  body {
    /* grid-template-columns: 350px calc(100vw - 350px); */
    grid-template-columns: 350px 1fr;
    grid-template-rows: 1fr;
    overflow: hidden;
  }

  #about-me-card {
    grid-column: 1;
    grid-row: 1;
    overflow: hidden;
  }

  #content {
    overflow: scroll;
    padding: 5px;
    grid-column: 2;
    grid-row: 1;
  }

  #floating-menu{
    display: flex;
    flex-direction: column;
    border: 1px solid var(--gray);
    border-radius: 30px;
    gap: 20px;

    background-color: var(--black2);
    padding: 24px 0;
    width: 50px;
    z-index: 100;
    position: fixed;
    /* top: 100px; */
    top: 30vh; /* TODO: modify for slightly smaller window heights */
    right: 45px;

    text-align: center;
  }
}

body {
  display: grid;
  margin: 0;
  height: 100vh;
  width: 100vw;
  font-family: 'Inter', 'sans-serif';
  /* font-family: 'Roboto', sans-serif; */
  scroll-behavior: smooth; /* smooth transitions when links clicked */ 
  /* background-color: var(--black); */
  background-color: var(--black2);
  /* background: linear-gradient(135deg, black, #220033); */
  color: var(--white);
  /* font-size: 1.2em; */
}



:root {
  --white: #ffffff;
  /* --gray: #575757; */
  --gray: #999999;
  --gray1: #333333;
  --gray2: #555555;
  --gray3: #cccccc;
  --gray4: #aaaaaa;

  --lime: #28e98c;
  --black: #080808;
  --black2: #1a1a1a;

  --teal: #006060;
  --lightteal: #008080;
  --purple: #800080;
  --navy: #000080;
  --cyan: #17a2b8;
  --violetred: #c71585;
  --red: #ff0000;
  --orange: #ffa500;
  --green: #006400;
}
